.dashboard {
  .dashboard__select {
    display: flex;
    align-items: center;
    label {
      color: #8a9bd1;
      font-size: 20px;
      font-weight: 600;
    }
    .status__select__menu {
      margin-left: 30px;
      select {
        background: linear-gradient(90deg, rgba(64, 188, 121, 1) 18%, rgba(99, 191, 54, 1) 56%);
        color: white;
        padding: 6px 0 6px 10px;
        min-width: 150px;
        border: none;
        border-radius: 22px;
        font-size: 16px;
        font-weight: 600;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        outline: none;
        option {
          padding: 30px;
          background: rgb(64, 188, 121);
        }
      }
    }
  }
  .data__statistics {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    .data__statistics__section {
      width: 25%;
      padding: 20px;
      .data__stat__title {
        color: #8a9bd1;
        font-size: 14px;
        font-weight: 600;
      }
      .data__stat__count {
        color: #f4f7ff;
        font-size: 36px;
        font-weight: 700;
        span {
          font-size: 18px;
          color: #c4cbec;
          font-weight: 100;
        }
      }
      .data__stat__flow {
        color: #8a9bd1;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        .fa {
          font-size: 18px;
        }
        .fa-caret-down {
          color: #f04d8c;
        }
        .fa-caret-up {
          color: #f9cf5b;
        }
        .flow__count {
          margin-left: 6px;
        }
      }
    }
  }
  .dashboard__content {
    padding: 0 15px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #1e2b5b;
    .dashboard__section {
      margin: 20px 0;
      color: #7a97ff;
      font-size: 20px;
      font-weight: 600;
    }
    .dashboard__overview {
      margin-top: 20px;
      .data-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #0a6d7d);
        background-color: #2d3d77;
        border-radius: 5px;
        height: 400px;
        padding: 32px 20px;
        text-align: center;
        color: white;
        margin: 0 18px;
        .card__statistics {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .statistics__info {
            width: 65%;
            .statistics__title {
              display: flex;
              align-items: center;
              font-size: 24px;
              font-weight: 700;
              color: #7a97ff;
            }
            .count__info {
              text-align: start;
              font-size: 12px;
            }
          }
          .card__action--btn {
            width: 35%;
            .btn-default {
              background: linear-gradient(0deg, rgba(64, 188, 121, 1) 28%, rgba(99, 191, 54, 1) 77%);
              border-radius: 25px;
              float: right;
            }
          }
        }
        p {
          font-size: 11px;
        }
      }
    }
    .dashboard__data {
      .dashboard__table__wrapper {
        margin-bottom: 40px;
        table {
          background: #fef5ef;
          border-radius: 4px;
          tr {
            line-height: 45px;
            td:first-child,
            th:first-child {
              padding-left: 20px;
            }
            td:last-child,
            th:last-child {
              padding-right: 20px;
            }
          }
          thead {
            tr {
              background: #1c3862;
              color: #fff;
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid #757c98;
            }
            tr:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
