.dashboard {
  .dashboard-header {
    display: flex;
    color: #000;
    h4 {
      font-weight: 700;
    }
  }
  .dashboard__content {
    padding: 0 15px;
    .dashboard__section {
      margin: 20px 0;
      color: #000;
      font-size: 20px;
      font-weight: 600;
    }
    .dashboard__overview {
      margin-top: 20px;
      .data-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(27, 27, 89, 1) 42%);
        border-radius: 5px;
        height: 190px;
        padding: 20px 24px;
        text-align: center;
        color: white;
        .card__statistics {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .statistics__info {
            width: 65%;
            .statistics__title {
              display: flex;
              align-items: center;
              font-size: 20px;
              .card__title {
                margin-right: 6px;
              }
            }
            .count__info {
              text-align: start;
              font-size: 12px;
            }
          }
          .statistics__count {
            width: 35%;
            .count {
              font-size: 20px;
              .count__extension {
                font-size: 12px;
              }
            }
          }
        }
        p {
          font-size: 11px;
        }
        .btn-default {
          background: white;
          border-radius: 25px;
          float: right;
        }
      }
    }
    .dashboard__data {
      .dashboard__table__wrapper {
        margin-bottom: 40px;
        table {
          background: #fff;
          border-radius: 4px;
          tr {
            line-height: 45px;
            td:first-child,
            th:first-child {
              padding-left: 20px;
            }
            td:last-child,
            th:last-child {
              padding-right: 20px;
            }
          }
          thead {
            tr {
              background: #282f54;
              color: #fff;
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid #e4e4e4;
            }
            tr:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
