.sidenav---sidenav-toggle---1KRjR {
  background-color: #4558be;
  width: 100%;
  height: 63px;
  span {
    display: none !important;
  }
}
.sidenav---sidenav-toggle---1KRjR::before {
  display: flex !important;
  align-items: center;
  content: "SL";
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  width: 70px;
  height: 100%;
  text-align: left;
  padding-left: 12px;
  background-color: #4558be;
}
.sidenav---sidenav-nav---3tvij {
  margin-top: 20px;
}
.sl__main {
  position: relative;
  overflow: hidden;
  transition: all 0.15s;
  padding: 0 20px;
}
.sl__collapsed {
  margin-left: 64px;
}
.sl__expanded {
  margin-left: 240px;
}
.sidenav---sidenav---_2tBP {
  background: #fff;
}
.sidenav---sidenav-navitem---uwIJ- {
  padding-left: 12px;
}
.sidenav---navicon---3gCRo {
  svg,
  .fa,
  .fas {
    color: #707070 !important;
  }
}
.sidenav---navtext---1AE_f {
  color: #3a4753 !important;
  font-size: 18px;
}
.sidenav---highlighted---oUx9u {
  background-color: #eff3f6;
  margin: 6px 0;
}
.sidenav---sidenav-navitem---uwIJ-:hover {
  background-color: #eff3f6;
  .fa,
  .fas {
    color: #4558be !important;
  }
  .sidenav---navtext---1AE_f {
    color: #4558be !important;
  }
}
